flows_sensehat.json
[{"id":"a5237aa5.a1d1d8","type":"tab","label":"SenseHat","disabled":false,"info":""},{"id":"8775e083.119f6","type":"tab","label":"Flow 2"},{"id":"6a361a85.351894","type":"tab","label":"WIP","disabled":false,"info":""},{"id":"178d57ca.197c68","type":"tab","label":"Flow 1"},{"id":"2e284049.75c5","type":"tab","label":"LoRa Producer","disabled":false,"info":""},{"id":"b2ddaaab.5e4098","type":"mqtt-broker","z":"","broker":"10.0.0.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0b3c5e3.d17788","type":"mqtt-broker","z":"6a361a85.351894","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"5abbb7b9.4e7198","type":"mqtt-broker","z":"","broker":"73.94.0.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98e9373f.27c0e8","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"5000","bin":"false","out":"time","addchar":false},{"id":"740eb41c.0e84fc","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"5000","bin":"false","out":"time","addchar":false},{"id":"4e024af1.cd9304","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ce7beb1.36b78","type":"mqtt-broker","z":"178d57ca.197c68","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"1e37426e.db230e","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Environment","motion":false,"env":true,"stick":false,"x":130,"y":500,"wires":[["f8dfc846.006118"]]},{"id":"f8dfc846.006118","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":false,"console":"false","complete":"true","x":310,"y":500,"wires":[]},{"id":"37a96e3d.a2cef2","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Motion","motion":true,"env":false,"stick":false,"x":110,"y":360,"wires":[["e6b2bfeb.a2dca"]]},{"id":"9320a3dc.c9739","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Button","motion":false,"env":false,"stick":true,"x":630,"y":540,"wires":[["c9973e1.f3393c"]]},{"id":"e6b2bfeb.a2dca","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":false,"console":"false","complete":"true","x":290,"y":360,"wires":[]},{"id":"8901ad85.d3fbd","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":290,"y":420,"wires":[]},{"id":"b75d607f.7459","type":"mqtt in","z":"a5237aa5.a1d1d8","name":"","topic":"flic/80:e4:da:72:98:9e/#","qos":"2","broker":"b2ddaaab.5e4098","x":160,"y":260,"wires":[["3bf581ae.a1144e"]]},{"id":"d76896e5.531518","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":570,"y":80,"wires":[]},{"id":"6d158ce3.091154","type":"function","z":"a5237aa5.a1d1d8","name":"singleClick","func":"return {payload: \"*,*,red\"};","outputs":"1","noerr":0,"x":710,"y":180,"wires":[["3f390912.2b9836","6eda5572.715bcc"]]},{"id":"57400730.428678","type":"function","z":"a5237aa5.a1d1d8","name":"doubleClick","func":"return {payload: \"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255\"};","outputs":"1","noerr":0,"x":710,"y":220,"wires":[["3f390912.2b9836"]]},{"id":"90854944.a6db78","type":"function","z":"a5237aa5.a1d1d8","name":"buttonUp","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonUp = nodeid5 + 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\": buttonUp}}; \n\nreturn [ [ dinningRoutine, xkitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":699.125,"y":262,"wires":[[]]},{"id":"1fcc4df0.0cc5b2","type":"function","z":"a5237aa5.a1d1d8","name":"buttonDown","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonDown = nodeid5 - 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":buttonDown }}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"2710b35c.7fe13c","type":"function","z":"a5237aa5.a1d1d8","name":"buttonHold","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":0}}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":710,"y":340,"wires":[[]]},{"id":"bdb25df2.37742","type":"switch","z":"a5237aa5.a1d1d8","name":"","property":"payload.clickType","propertyType":"msg","rules":[{"t":"eq","v":"ButtonClick","vt":"str"},{"t":"eq","v":"ButtonDoubleClick","vt":"str"},{"t":"eq","v":"ButtonHold","vt":"str"},{"t":"eq","v":"ButtonUp","vt":"str"},{"t":"eq","v":"ButtonDown","vt":"str"}],"checkall":"true","outputs":5,"x":541.625,"y":262,"wires":[["6d158ce3.091154"],["57400730.428678"],["90854944.a6db78"],["1fcc4df0.0cc5b2"],["2710b35c.7fe13c"]]},{"id":"3bf581ae.a1144e","type":"json","z":"a5237aa5.a1d1d8","name":"","x":406.5714302062988,"y":262.0357265472412,"wires":[["bdb25df2.37742","d76896e5.531518"]]},{"id":"3f390912.2b9836","type":"rpi-sensehat out","z":"a5237aa5.a1d1d8","name":"","x":950,"y":260,"wires":[]},{"id":"6eda5572.715bcc","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":910,"y":120,"wires":[]},{"id":"4761287.8fc09d8","type":"inject","z":"a5237aa5.a1d1d8","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":700,"y":400,"wires":[["3f390912.2b9836"]]},{"id":"841812df.2feec","type":"inject","z":"a5237aa5.a1d1d8","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":640,"wires":[["782f37e1.07d328"]]},{"id":"87b65d4d.30e1c","type":"rpi-sensehat out","z":"a5237aa5.a1d1d8","name":"","x":670,"y":640,"wires":[]},{"id":"782f37e1.07d328","type":"function","z":"a5237aa5.a1d1d8","name":"Rotate 180 Text Red Background Blue Speed 5","func":"msg.color = \"red\";\nmsg.background = \"blue\";\nmsg.speed = \"5\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["87b65d4d.30e1c"]]},{"id":"3cb0a487.10a22c","type":"http request","z":"6a361a85.351894","name":"Data source","method":"GET","url":"http://www.aviationweather.gov{{{payload}}}","x":290,"y":140,"wires":[["665a790.b2acc88","3c3fb890.cf90a8"]]},{"id":"7a5898ef.618c98","type":"inject","z":"6a361a85.351894","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=KRNH","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":140,"wires":[["3cb0a487.10a22c"]]},{"id":"665a790.b2acc88","type":"xml","z":"6a361a85.351894","name":"","x":436,"y":140,"wires":[["b9a37cd9.a7e51","84ce2e4b.937bd"]]},{"id":"cd81597b.4bc498","type":"debug","z":"6a361a85.351894","name":"","active":false,"console":"false","complete":"payload","x":760,"y":140,"wires":[]},{"id":"b9a37cd9.a7e51","type":"function","z":"6a361a85.351894","name":"Parse METAR","func":"var METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\nmsg.payload = ((wind) + (\",\") + (gusts) + (\",\") + (humidity) + (\",\") + (pressure) + (\",\") + (temp));\nreturn msg;","outputs":1,"x":591,"y":140,"wires":[["cd81597b.4bc498"]]},{"id":"b921105c.96dfa","type":"comment","z":"6a361a85.351894","name":"NOAA Weather data","info":"Retrieving Finningly Airport METAR feed","x":122,"y":101,"wires":[]},{"id":"1ab4c90b.d41fa7","type":"mqtt in","z":"6a361a85.351894","name":"MQTT Node - TheThingsNetwork","topic":"#","qos":"2","broker":"f0b3c5e3.d17788","x":150,"y":420,"wires":[["c70dfee8.2a9ee","2ebacf1e.d2741"]]},{"id":"74bbb39a.ea44fc","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":725.7143096923828,"y":485.28573513031006,"wires":[]},{"id":"c70dfee8.2a9ee","type":"function","z":"6a361a85.351894","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":434.14283752441406,"y":538.9999675750732,"wires":[["74bbb39a.ea44fc"],["2dab31b5.f35b9e"],["7f27045b.ea5dbc"]]},{"id":"2dab31b5.f35b9e","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":768.8571166992188,"y":534.9285020828247,"wires":[]},{"id":"7f27045b.ea5dbc","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":true,"console":"false","complete":"payload","x":786.0000457763672,"y":591.3570346832275,"wires":[]},{"id":"dc6380ed.6993a","type":"debug","z":"6a361a85.351894","name":"message (as is)","active":true,"console":"false","complete":"payload","x":555,"y":419.5,"wires":[]},{"id":"a77cb077.b8fe8","type":"inject","z":"6a361a85.351894","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"ARA=\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":495,"wires":[["c70dfee8.2a9ee"]]},{"id":"860a8a6a.9979d8","type":"inject","z":"6a361a85.351894","name":"Text example","topic":"","payload":"{\"payload_raw\":\"SGVsbG8sIHdvcmxkIQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":545,"wires":[["c70dfee8.2a9ee"]]},{"id":"3f37db39.8ecbf4","type":"function","z":"6a361a85.351894","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":282.00001525878906,"y":652.7142820358276,"wires":[[]]},{"id":"2ebacf1e.d2741","type":"json","z":"6a361a85.351894","name":"","x":385.5,"y":420,"wires":[["dc6380ed.6993a"]]},{"id":"e344eaa.dcc5018","type":"comment","z":"6a361a85.351894","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":251,"y":368,"wires":[]},{"id":"b74cf7b0.2731d8","type":"function","z":"6a361a85.351894","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":329.00001525878906,"y":704.7142820358276,"wires":[[]]},{"id":"fd2c9302.3e77b","type":"inject","z":"8775e083.119f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105.5,"y":124,"wires":[["a1a7b112.e8dd5","1a508c1d.4bb6b4"]]},{"id":"2c15419.6ca3bbe","type":"template","z":"8775e083.119f6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":277.5,"y":125,"wires":[[]]},{"id":"1c0e3ddb.9eb252","type":"debug","z":"8775e083.119f6","name":"","active":true,"console":"false","complete":"true","x":710,"y":200,"wires":[]},{"id":"a0a74156.e0564","type":"inject","z":"8775e083.119f6","name":"","topic":"a","payload":"Value A","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["1fdef0d2.02e1cf"]]},{"id":"fe2fad38.39d33","type":"inject","z":"8775e083.119f6","name":"","topic":"b","payload":"Value B","payloadType":"string","repeat":"","crontab":"","once":false,"x":120,"y":360,"wires":[["1fdef0d2.02e1cf"]]},{"id":"40447e57.bbf28","type":"debug","z":"8775e083.119f6","name":"","active":true,"console":"false","complete":"true","x":588.5,"y":386,"wires":[]},{"id":"b40e571d.8f5bf8","type":"inject","z":"8775e083.119f6","name":"","topic":"c","payload":"Value C","payloadType":"string","repeat":"","crontab":"","once":false,"x":120,"y":480,"wires":[["1fdef0d2.02e1cf"]]},{"id":"1fdef0d2.02e1cf","type":"collector","z":"8775e083.119f6","name":"","onlyIfChanged":false,"x":295,"y":386,"wires":[["765d5701.015508"]]},{"id":"14cd862e.e0636a","type":"inject","z":"8775e083.119f6","name":"no b","topic":"b","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":120,"y":420,"wires":[["1fdef0d2.02e1cf"]]},{"id":"765d5701.015508","type":"xml","z":"8775e083.119f6","name":"","x":450.5,"y":386,"wires":[["40447e57.bbf28"]]},{"id":"a9a222da.6b016","type":"comment","z":"8775e083.119f6","name":"","info":"<?xml version=\"1.0\" ?>\n- <CONTROLLER>\n<NAME>test 6</NAME>\n<TYPENAME>Case Controller (HT)</TYPENAME>\n<TYPENUM>12390</TYPENUM>\n<ID>0988</ID>\n<VER>MERCM04</VER>\n<TIME>17:06:12 17/04/02</TIME>\n<ALARMMASK>0x0260</ALARMMASK>\n- <IO>\n- <INPUTS>\n<FP ID=\"CTRL\" NAME=\"Control temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"DISP\" NAME=\"Display temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"AIRON\" NAME=\"Air on Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"AIROF\" NAME=\"Air off Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"EVAP\" NAME=\"Evaporator Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"SUCT\" NAME=\"Suc. Line Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"SHEAT\" NAME=\"Superheat\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"LOGPR\" NAME=\"Logging Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<STR ID=\"PLTFT\" NAME=\"Plant Fault\" VALS=\"OK | Alarm\">OK</STR>\n<STR ID=\"CCSWT\" NAME=\"Case Clean\" VALS=\"Off | On\">Off</STR>\n</INPUTS>\n- <OUTPUTS>\n<STR ID=\"LLRLY\" NAME=\"Liq. Line Valve\" VALS=\"Closed | Open\">Closed</STR>\n<STR ID=\"SLRLY\" NAME=\"Suc. Line Valve\" VALS=\"Open | Closed\">Closed</STR>\n<STR ID=\"DFRLY\" NAME=\"Defrost Control\" VALS=\"Off | On\">On</STR>\n<STR ID=\"LTRLY\" NAME=\"Lights\" VALS=\"Off | On\">On</STR>\n<STR ID=\"FNRLY\" NAME=\"Case Fans\" VALS=\"Off | On\">On</STR>\n<TIME ID=\"LDFTM\" NAME=\"Last Def. Time\" MIN=\"00:00\" MAX=\"23:59\" STEP=\"00:01\"\nUNIT=\"hh:mm\">17:00</TIME>\n<TIME ID=\"LDFLN\" NAME=\"Last Def. Length\" MIN=\"00:00\" MAX=\"03:00\" STEP=\"00:01\"\nUNIT=\"hh:mm\">00:06</TIME>\n<FP ID=\"LDFT\" NAME=\"Last Def. Temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<STR ID=\"LDFTY\" NAME=\"Last Def. Type\" VALS=\"None | Internal | External | Network |\nDisplay | Timed\">Timed</STR>\n</OUTPUTS>\n- <STATES>\n<STR ID=\"STATE\" NAME=\"Control State\" VALS=\"Stabilise | Normal | Df_Min | Df_Max |\nDrain_Down | Fan_Delay | Recovery | OT_Alarm | UT_Alarm | Fans_Only |\nLights_Only | Case_Off\">Df_Max</STR>\n</STATES>\n- <COMMANDS>\n<STR ID=\"DFCMD\" NAME=\"Defrost Command\" VALS=\"Normal | Defrost | ElecDf | DefTerm |\nStandby | CaseOff | FansOnly\">Normal</STR>\n</COMMANDS>\n</IO>\n</CONTROLLER>","x":650,"y":100,"wires":[]},{"id":"a1a7b112.e8dd5","type":"function","z":"8775e083.119f6","name":"","func":"var rdmMerc3Msg = {\n    name: \"0501-Merc3-PRO625-000\",\n    typeName: \"Case Controller (HT)<\",\n    typeNum: \"12390\",\n    id: \"0988\",\n    ver: \"MERCM04\",\n    time: \"17:06:12 17/04/02<\",\n    alarmMask: \"0x0260\",\n};\n\nvar rdmMerc3MsgIo = {\n    ctrl: \"Control temp\",\n};\n\nreturn {topic: \"RDM-Merc3\", rdmMerc3Msg, rdmMerc3MsgIo};","outputs":1,"noerr":0,"x":338.5,"y":200,"wires":[["765d5701.015508"]]},{"id":"1a508c1d.4bb6b4","type":"function","z":"8775e083.119f6","name":"","func":"var js2xmlparser = require(\"js2xmlparser\");\n \nvar msg = {\n    \"firstName\": \"John\",\n    \"lastName\": \"Smith\",\n    \"dateOfBirth\": new Date(1964, 7, 26),\n    \"address\": {\n        \"@\": {\n            \"type\": \"home\"\n        },\n        \"streetAddress\": \"3212 22nd St\",\n        \"city\": \"Chicago\",\n        \"state\": \"Illinois\",\n        \"zip\": 10000\n    },\n    \"phone\": [\n        {\n            \"@\": {\n                \"type\": \"home\"\n            },\n            \"#\": \"123-555-4567\"\n        },\n        {\n            \"@\": {\n                \"type\": \"cell\"\n            },\n            \"#\": \"890-555-1234\"\n        },\n        {\n            \"@\": {\n                \"type\": \"work\"\n            },\n            \"#\": \"567-555-8901\"\n        }\n    ],\n    \"email\": \"john@smith.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":549.5,"y":251,"wires":[["1c0e3ddb.9eb252"]]},{"id":"3c3fb890.cf90a8","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":424.5,"y":58,"wires":[]},{"id":"84ce2e4b.937bd","type":"debug","z":"6a361a85.351894","name":"","active":false,"console":"false","complete":"true","x":570,"y":80,"wires":[]},{"id":"81f79648.9de8a8","type":"inject","z":"a5237aa5.a1d1d8","name":"All Red","topic":"","payload":"*,*,red","payloadType":"str","repeat":"","crontab":"","once":false,"x":690,"y":440,"wires":[["3f390912.2b9836"]]},{"id":"6c40b0ed.689d7","type":"inject","z":"a5237aa5.a1d1d8","name":"Off","topic":"","payload":"*,*,off","payloadType":"str","repeat":"","crontab":"","once":false,"x":690,"y":480,"wires":[["3f390912.2b9836"]]},{"id":"d2fe588e.598c38","type":"inject","z":"6a361a85.351894","name":"phoneHome","topic":"helloWorld/sensehat","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":165.83333333333331,"y":916.6666666666665,"wires":[["27b52a0d.71dcf6","f01c7356.c2d7d"]]},{"id":"27b52a0d.71dcf6","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":409.16666666666663,"y":919.9999999999999,"wires":[]},{"id":"f01c7356.c2d7d","type":"mqtt out","z":"6a361a85.351894","name":"","topic":"","qos":"1","retain":"","broker":"b2ddaaab.5e4098","x":410,"y":840,"wires":[]},{"id":"c9973e1.f3393c","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"\nreturn {payload: \"*,*,off\"};","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["3f390912.2b9836"]]},{"id":"8c38b1da.ef72d","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":710,"y":1100,"wires":[]},{"id":"807f763f.f649c8","type":"function","z":"6a361a85.351894","name":"","func":"// eg 2010612FF590080BC39010020064C00FFFFFFFFFFFF\n\nvar b1 = msg.payload.substr(18, 2);\nvar b2 = msg.payload.substr(20, 2);\nvar t1 = msg.payload.substr(24, 2);\nvar t2 = msg.payload.substr(25, 2);\nmsg.b = parseInt(b2+b1 ,16)/100;\nmsg.t = parseInt(t2+t1 ,16)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":1099,"wires":[["8c38b1da.ef72d"]]},{"id":"e77e1c1a.40fa9","type":"inject","z":"6a361a85.351894","name":"","topic":"","payload":"02010612FF590080BC4A0101A10A3F00FFFFFFFFFFFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":337.5,"y":1097,"wires":[["807f763f.f649c8"]]},{"id":"1fac6f.f8766391","type":"serial out","z":"178d57ca.197c68","name":"","serial":"98e9373f.27c0e8","x":460,"y":140,"wires":[]},{"id":"caa63860.dc05b8","type":"debug","z":"178d57ca.197c68","name":"","active":true,"console":"false","complete":"true","x":330,"y":260,"wires":[]},{"id":"b4d9917a.97603","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+NI=1,MTCDT-19411515","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":60,"wires":[["1fac6f.f8766391","ff971ee2.188bc"]]},{"id":"7a38e61b.ef7498","type":"serial in","z":"178d57ca.197c68","name":"","serial":"98e9373f.27c0e8","x":130,"y":260,"wires":[["caa63860.dc05b8"]]},{"id":"b6d6d309.26702","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+NK=1,MTCDT-19411515","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":100,"wires":[["1fac6f.f8766391"]]},{"id":"1def5cae.a155c3","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+FSB=1","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["1fac6f.f8766391"]]},{"id":"9706e59a.c368b8","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+JOIN","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["1fac6f.f8766391"]]},{"id":"ff971ee2.188bc","type":"debug","z":"178d57ca.197c68","name":"","active":true,"console":"false","complete":"false","x":490,"y":60,"wires":[]},{"id":"3d23d07f.a8a53","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+SEND=hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":220,"wires":[["1fac6f.f8766391"]]},{"id":"a785ddbe.5b48c","type":"exec","z":"2e284049.75c5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2730,"y":400,"wires":[["c8c467e2.ce1178"],["19722ee2.868161"],["1ae6f3ae.cdea7c"]]},{"id":"219ad992.e7a806","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"stty -F /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2500,"y":300,"wires":[["a785ddbe.5b48c"]]},{"id":"1ae6f3ae.cdea7c","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":440,"wires":[]},{"id":"c8c467e2.ce1178","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":360,"wires":[]},{"id":"19722ee2.868161","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":400,"wires":[]},{"id":"5a24946a.2452ec","type":"inject","z":"2e284049.75c5","name":"Set Freq Subband","topic":"","payload":"echo \"AT+FSB=1\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2510,"y":420,"wires":[["a785ddbe.5b48c"]]},{"id":"5ee56542.8179ec","type":"inject","z":"2e284049.75c5","name":"Join","topic":"","payload":"echo \"AT+JOIN\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2550,"y":460,"wires":[["a785ddbe.5b48c"]]},{"id":"9d393050.338c3","type":"inject","z":"2e284049.75c5","name":"Hello World","topic":"","payload":"echo \"AT+SEND=Hello World\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2530,"y":500,"wires":[["a785ddbe.5b48c"]]},{"id":"5b16c445.ae38bc","type":"inject","z":"2e284049.75c5","name":"Set Network ID","topic":"","payload":"echo \"AT+NI=1,MTCDT-19411515\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":340,"wires":[["a785ddbe.5b48c"]]},{"id":"24e52e8a.375052","type":"inject","z":"2e284049.75c5","name":"Set Network Key","topic":"","payload":"echo \"AT+NK=1,MTCDT-19411515\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":380,"wires":[["a785ddbe.5b48c"]]},{"id":"81704b5b.12f618","type":"inject","z":"2e284049.75c5","name":"Save","topic":"","payload":"echo \"AT&W\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2550,"y":540,"wires":[["a785ddbe.5b48c"]]},{"id":"cf9a4726.87c4e8","type":"inject","z":"2e284049.75c5","name":"sequencer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"30","x":570,"y":640,"wires":[["d9c54ae7.4294a8"]]},{"id":"d9c54ae7.4294a8","type":"function","z":"2e284049.75c5","name":"Initialize","func":"return {payload: \"stty -F /dev/ttyACM1\"};","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["4fadf257.83b79c","b2df0f37.625d2"]]},{"id":"f02cb349.03cb","type":"function","z":"2e284049.75c5","name":"Set Network ID","func":"//return {payload: 'echo \"AT+NI=1,targetcorp\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NI=1,edgewood\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NI=1,MTCDT-19411515\" > /dev/ttyACM1'};\n\n\n//Public LoRaWan Config\nreturn {payload: 'echo \"AT+NI=0,70:B3:D5:7E:F0:00:36:26\" > /dev/ttyACM1'}","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["b4cc6cba.b6dd9","b2df0f37.625d2"]]},{"id":"4fadf257.83b79c","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":760,"wires":[["f02cb349.03cb"]]},{"id":"b4cc6cba.b6dd9","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":880,"wires":[["c3f744c.4a1ebb8"]]},{"id":"c3f744c.4a1ebb8","type":"function","z":"2e284049.75c5","name":"Set Network Key","func":"//return {payload: 'echo \"AT+NK=1,MTCDT-19411515\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NK=1,expectmorepayless\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NK=1,edgewood\" > /dev/ttyACM1'};\n\n//Public LoRaWan Config\nreturn {payload: 'echo \"AT+NK=0,11555500000000001100000000000000\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":590,"y":940,"wires":[["d1d4eb4f.99e038","b2df0f37.625d2"]]},{"id":"d1d4eb4f.99e038","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1000,"wires":[["9a96378e.815978"]]},{"id":"9a96378e.815978","type":"function","z":"2e284049.75c5","name":"Set Freq SubBand","func":"//return {payload: 'echo \"AT+FSB=7\" > /dev/ttyACM1'};\nreturn {payload: 'echo \"AT+FSB=1\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":590,"y":1060,"wires":[["16ef739b.50126c","b2df0f37.625d2"]]},{"id":"81a50a6a.73a608","type":"function","z":"2e284049.75c5","name":"Join","func":"return {payload: 'echo \"AT+JOIN\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1540,"wires":[["b2df0f37.625d2"]]},{"id":"16ef739b.50126c","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1120,"wires":[["324901d0.c3265e"]]},{"id":"b2df0f37.625d2","type":"exec","z":"2e284049.75c5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":1080,"wires":[["31105408.920ddc"],["79c99863.ea10b8"],["e7c3e849.f0d2a8"]]},{"id":"e7c3e849.f0d2a8","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1120,"wires":[]},{"id":"31105408.920ddc","type":"debug","z":"2e284049.75c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1040,"wires":[]},{"id":"79c99863.ea10b8","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1080,"wires":[]},{"id":"324901d0.c3265e","type":"function","z":"2e284049.75c5","name":"Public","func":"//public mode // return {payload: 'echo \"AT+PN=1\" > /dev/ttyACM1'};\n//private mode return {payload: 'echo \"AT+PN=0\" > /dev/ttyACM1'};\nreturn {payload: 'echo \"AT+PN=1\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["b2df0f37.625d2","ca9017a1.979ef8"]]},{"id":"57ef57bf.d0a528","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1360,"wires":[["f536f28b.93872"]]},{"id":"f536f28b.93872","type":"function","z":"2e284049.75c5","name":"Save","func":"return {payload: 'echo \"AT&W\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1420,"wires":[["ced7b35f.20466"]]},{"id":"ced7b35f.20466","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1480,"wires":[["81a50a6a.73a608"]]},{"id":"1fb3c04f.61444","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":570,"y":460,"wires":[]},{"id":"925f7182.78e46","type":"serial in","z":"2e284049.75c5","name":"","serial":"740eb41c.0e84fc","x":230,"y":360,"wires":[["54b500c7.ff934"]]},{"id":"54b500c7.ff934","type":"switch","z":"2e284049.75c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"},{"t":"cont","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":360,"wires":[["214056c4.34b1da","ce8f806b.d3317"],["1ebf1a71.d97276","8ed23f8b.bdb2f"],["1fb3c04f.61444"]]},{"id":"214056c4.34b1da","type":"debug","z":"2e284049.75c5","name":"","active":false,"console":"false","complete":"true","x":550,"y":320,"wires":[]},{"id":"ce8f806b.d3317","type":"switch","z":"2e284049.75c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Successfully","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":240,"wires":[["d5e15465.ec1f98"]]},{"id":"d5e15465.ec1f98","type":"function","z":"2e284049.75c5","name":"Joined Network","func":"msg.color = \"red\";\nmsg.background = \"off\";\nmsg.speed = \"2\";\nmsg.payload = \"R90\\n\"+\"Network Joined\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["87dc4c16.3e733"]]},{"id":"1ebf1a71.d97276","type":"function","z":"2e284049.75c5","name":"Not Joined","func":"msg.color = \"blue\";\nmsg.background = \"off\";\nmsg.speed = \"2\";\nmsg.payload = \"R90\\n\"+\"Error - Network Not Joined\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["36d8f807.20ac28"]]},{"id":"3aaca016.f6bf3","type":"comment","z":"2e284049.75c5","name":"Join LoRaWAN Network","info":"","x":590,"y":580,"wires":[]},{"id":"2adfa3e4.763b6c","type":"comment","z":"2e284049.75c5","name":"Serial Port Feedback","info":"","x":580,"y":140,"wires":[]},{"id":"f117bdff.2ff71","type":"mqtt in","z":"2e284049.75c5","name":"","topic":"lora-out","qos":"2","broker":"4e024af1.cd9304","x":970,"y":760,"wires":[["1a4480f5.1f3def"]]},{"id":"8ea56ca6.94ea6","type":"function","z":"2e284049.75c5","name":"LoRa","func":"var value = msg.payload\nreturn {payload: \"echo AT+SEND=\"+value+\" > /dev/ttyACM1\"};","outputs":1,"noerr":0,"x":1130,"y":760,"wires":[["b2df0f37.625d2"]]},{"id":"1a4480f5.1f3def","type":"debug","z":"2e284049.75c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":700,"wires":[]},{"id":"36d8f807.20ac28","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":890,"y":360,"wires":[]},{"id":"87dc4c16.3e733","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":890,"y":240,"wires":[]},{"id":"8ed23f8b.bdb2f","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":550,"y":400,"wires":[]},{"id":"a414c8ca.05bb38","type":"function","z":"2e284049.75c5","name":"Firmware","func":"return {payload: 'echo \"ATI\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":1120,"y":1300,"wires":[["b2df0f37.625d2"]]},{"id":"bc991312.a982c","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":1400,"wires":[["a414c8ca.05bb38"]]},{"id":"ca9017a1.979ef8","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1240,"wires":[["a5be206.b98eee"]]},{"id":"a5be206.b98eee","type":"function","z":"2e284049.75c5","name":"Class C Device","func":"return {payload: 'echo \"AT+DC=C\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":580,"y":1300,"wires":[["57ef57bf.d0a528","b2df0f37.625d2"]]},{"id":"34e40038.bfa6b","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":267.85714285714283,"y":1561.4285714285713,"wires":[["81a50a6a.73a608"]]},{"id":"5b836917.d50998","type":"mqtt in","z":"178d57ca.197c68","name":"MQTT Node - TheThingsNetwork","topic":"#","qos":"2","broker":"4e024af1.cd9304","x":444,"y":506,"wires":[["ecd43ebd.0839f","18c1cf7b.726481"]]},{"id":"65c9e2cf.d6f9ec","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":634,"y":697,"wires":[]},{"id":"ecd43ebd.0839f","type":"function","z":"178d57ca.197c68","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":711,"y":555,"wires":[["65c9e2cf.d6f9ec"],["af0f89d1.1f1268"],["1a7ae358.7e52cd"]]},{"id":"af0f89d1.1f1268","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":670,"y":759.5,"wires":[]},{"id":"1a7ae358.7e52cd","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":true,"console":"false","complete":"payload","x":680,"y":824.5,"wires":[]},{"id":"73a5066f.bd9298","type":"debug","z":"178d57ca.197c68","name":"message (as is)","active":true,"console":"false","complete":"payload","x":849,"y":505.5,"wires":[]},{"id":"65145bdc.f8ef74","type":"inject","z":"178d57ca.197c68","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"ARA=\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":419,"y":581,"wires":[["ecd43ebd.0839f"]]},{"id":"d42ace54.8ba9c","type":"inject","z":"178d57ca.197c68","name":"Text example","topic":"","payload":"{\"payload_raw\":\"SGVsbG8sIHdvcmxkIQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":401,"y":631,"wires":[["ecd43ebd.0839f"]]},{"id":"30ae5e7f.b9fe22","type":"function","z":"178d57ca.197c68","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":596,"y":893,"wires":[[]]},{"id":"18c1cf7b.726481","type":"json","z":"178d57ca.197c68","name":"","x":679.5,"y":506,"wires":[["73a5066f.bd9298"]]},{"id":"5049bc5.5fa8e44","type":"comment","z":"178d57ca.197c68","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":545,"y":454,"wires":[]},{"id":"cddf0646.51c088","type":"function","z":"178d57ca.197c68","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":643,"y":945,"wires":[[]]}]